Hello Admin,
<br> Your OTP to reset password is {{body.otp}}
<br> This OTP is valid for 2 hours only.
<br> Click on the link to reset password
<br>
<a href={{body.resetLink}}>{{body.resetLink}}</a>
<br> Thanks